body{
    background-color: hsl(217, 54%, 11%);
    flex-wrap: wrap;
}

@media screen and (max-width: 720px){
    .css-1txuqll{
        display: inline-block;
        width: 145%;
        
    }
}
    

    